
* {
	margin:0;
	padding:0;
	box-sizing:border-box;


}

html {
	font-size: 20px;
	line-height:1.5;
	font-family: 'Noto Serif', serif;
	color: $textColor;

	@include breakpoint(small) {
		font-size:16px;
	}
}

a {
	color:$textColor;
}

blockquote {
	margin-left:-2.5em;
	font-size:.8em;

	@include breakpoint(small) {
		margin-left:0;
	}


	p { 
		font-family: 'Noto Serif', serif;
		border-left: 5px solid $darkGrey;
		
		padding-left: 1em;
		font-style:italic;
	}
	footer {
		text-align:right;
		font-size:.8em;
		font-color:$darkGrey;

	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	margin-top:1em;
}

h1 {
	font-size:1.5em;
}
h2 {
	font-size:1.2em;
	font-family: 'Noto Serif', serif;
	font-style:italic;
}

::selection {
	background: #333; /* Safari */
	color:white;
	}
::-moz-selection {
	background: #333; /* Firefox */
	color:white;
}



figcaption {
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:14px;
	color: $darkGrey;

	margin-bottom:1em;
}